### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/workspace.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/target/classes/InputTarget.class
/target/classes/Difference.class
/target/classes/ContainerMovement.class
/target/classes/FullMovement.class
/target/classes/GUI.class
/target/classes/GUI$3.class
/target/classes/GUI$2.class
/target/classes/GUI$1.class
